@import './base.css';

#app {
  width:100%;
  margin: 0 auto;
  padding: 3px;
  font-weight: normal;
}
.align-right{
  text-align: right;
}
.border-btm-sm{
  border-bottom:.25px solid ghostwhite;
  padding-bottom:2px;
}
header{
    width:100%;
    height:150px;
    padding-right:.5rem;
    z-index: 998;
  }
  .bg-custom{
    background-color:#000;
  }
  .absolute{
    position:absolute;
  }
  .fixed{
    position:fixed;
  }
#logo,#logo-footer{
  /* border:2px solid red; */
  image-rendering: crisp-edges;
  transition: .25s;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
#logo{
  position:fixed;
  left:25px;
  top:30px;
}
/* #logo-footer{
    left:25px;
  bottom:25px;
} */

#header-container{
  width:100%;
  height:100%;
  /* border:2px solid red; */
  display:flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
}
.scale-out{
  animation: scaleout 5s ease infinite alternate;
}

@keyframes scaleout {
  from{
    transform:scale(.9);
  }
  to{
    transform:scale(1.15);
  }

}
.bg-trans{
  background-image:transparent !important;
}
.bg-black{
  background-image:linear-gradient(#000,transparent 99%) !important;
}

#header-hr{
  width:100%;
  position:fixed;
  left:0;
  transition:.25s;
  top:173px;
}

.hr-tip{
  /* background:#fff; */
  position: fixed;
  border:1.5px dotted rgba(248, 248, 255, 0.377);
}
.no-pointer{
  pointer-events: none;
}
/* verticle */
.tip1{
width:2.5px;
height:0;
}
/* horizontal */
.tip2{
  height:2.5px;
  width:0;
}
.tip3{
width:2.5px;
height:0;
}
/* horizontal */
.tip4{
  height:2.5px;
  width:0;
}
.hr-active-tip1{
  height:.5%;
  /* height:10%; */
  top:5px;
}
.hr-active-tip2{
width:.5%;
/* width:10%; */
left:0;
}
.hr-active-tip3{
height:.5%;
/* height:10%; */
bottom:0;
}
.hr-active-tip4{
width:.5%;
/* width:10%; */
right:0;
}
.hr-active-tip1-ext{
transition:.35s;
  height:100%;
}
.hr-active-tip2-ext{
transition:.35s;
width:100%;
left:0;
}
.hr-active-tip3-ext{
transition:.35s;
height:100%;
}
.hr-active-tip4-ext{
transition:.35s;
width:100%;
right:0;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  margin-left:50px;
}
#title-container>h1{
  font-size:80px;
}


/* landscape mobile */
@media screen and (max-width:967px) and (max-height:500px){
 #header-container{
    align-items: center;
  }
  #wrapper{
    gap:2.5rem !important;
}
  header{
    height:90px !important;
  }
  #legend-container{
  top:40px !important;
  height:90% !important;
  right:0 !important;
}
  #subheader{
    transform:translate(0,25px)!important;
    /* margin-top:1rem; */
  }
  #header-hr{
    top:105px;
  }
  body{
    overflow-x:none;
  }

  #title-container>h1{
  font-size:35px;
  }
  #logo{
    left:0;
    top:4px;
    width:75px;
    height:75px;
  }
  .green{
    transform:translate(100px,0);
    margin-left:unset !important;
    margin-right: 2rem;
    text-align:center;
  }

  #para-id{
    font-size:11pt !important;
    line-height:1rem !important;
    /* transform:translate(0,150px) !important; */
  }
  .section-container{
    transform:scale(.77) translate(0,300px) !important;
    background-size:33% !important;
    gap:3rem !important;
    align-items: start !important;
    justify-content: end !important;
    flex-direction: column !important;
    width:88% !important;
    /* border:2px solid red; */
    height:66vh !important;
  }
  #app-title{
    top:125px !important;
  }


}


@media screen and (max-width:870px){
#app-title{
    margin-top:4rem !important;
  }
  #legend-container{
    right:0 !important;
  }
  #app-title{
    top:30px !important;
  }
  .section-container{
  width:100%;
  /* border:2px solid red; */
  background-size:50% !important;
  flex-direction: column !important;
  height:66vh !important;
}
.app-link{
  /* position: absolute;
  top:100px;
  left:-50px; */
}

  #header-container{
    align-items: center;
  }
  #subheader{
    margin-top:1rem;
  }
  #header-hr{
    top:115px;
  }

  #title-container>h1{
  font-size:35px;
  }
  #logo{
    left:0;
    top:15px;
    width:90px;
    height:90px;
  }
  #stats-container{
    right: 30px !important;;
  }
  .green{
    transform:translate(50px,0);
    margin-left:unset !important;
    margin-right: 2rem;
    text-align:center;
  }

  #para-id{
    font-size:11pt !important;
  }


}



