@import './base.css';
:root{
  --col-primary:hsla(160, 100%, 37%, 1);
}
#app {
  width:100%;
  margin: 0 auto;
  padding: 3px;
  font-weight: normal;
}
.align-right{
  text-align: right;
}
.border-btm-sm{
  border-bottom:.25px solid ghostwhite;
  padding-bottom:2px;
}
header{
    width:100%;
    height:150px;
    position:fixed;
  }
#logo,#logo-footer{
  /* border:2px solid red; */
  image-rendering: crisp-edges;
  transition: .25s;
}

#logo{
  position:fixed;
  left:25px;
  top:50px;
}
#logo-footer{
    left:25px;
  bottom:25px;
}

#header-container{
  width:100%;
  height:100%;
  /* border:2px solid red; */
  display:flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}
.scale-out{
  animation: scaleout 5s ease infinite alternate;
}

@keyframes scaleout {
  from{
    transform:scale(.9);
  }
  to{
    transform:scale(1.15);
  }
  
}
#subheader{
  transform:translate(0,50px);
}
#header-hr{
  width:100%;
  position:fixed;
  left:0;
  top:200px;
}

.hr-tip{
  /* background:#fff; */
  position: fixed;
  border:1.5px dotted ghostwhite;
  /* transition: .25s; */
}
.no-pointer{
  pointer-events: none;
}
/* verticle */
.tip1{
width:2.5px;
height:0;
}
/* horizontal */
.tip2{
  height:2.5px;
  width:0;
}
.tip3{
width:2.5px;
height:0;
}
/* horizontal */
.tip4{
  height:2.5px;
  width:0;
}
.hr-active-tip1{
  height:10%;
  top:0;
}
.hr-active-tip2{
width:10%;
left:0;
}
.hr-active-tip3{
height:10%;
bottom:0;
}
.hr-active-tip4{
width:10%;
right:0;
}
.hr-active-tip1-ext{
transition:.5s;
  height:100%;
}
.hr-active-tip2-ext{
transition:.5s;
width:100%;
left:0;
}
.hr-active-tip3-ext{
transition:.5s;
height:100%;
}
.hr-active-tip4-ext{
transition:.5s;
width:100%;
right:0;
}

a,
.green {
  text-decoration: none;
  color: var(--col-primary);
  transition: 0.4s;
  margin-left:50px;
}
#title-container>h1{
  font-size:80px;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (max-width:870px){
  #title-container>h1{
  font-size:35px;
  }
  #logo{
    left:0;
  }
  .green{
    transform:translate(100px,0);
    margin-left:unset !important;
    text-align:center;
  }

  #para-id{
    font-size:11pt;
  }

  
}



